@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

$mainfont: Arial, sans-serif;

$blue: #00DDDD;
$white: #FFFFFF;
$black: #000000;
$grey: #707070;
$lightgrey: #F0F0F0;
$maxwidth: 1200px;
$rootsize: 20px;

body {
    background-color: $white;
    color: $grey;
    font-family: $mainfont;
    font-size: $rootsize;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

div.container {
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
    background-color: $white;
}

header {
    padding: 2rem;
    border: 1px solid $grey;

    a {
        width: 100%;
        max-width: 250px;
        text-transform: uppercase;
        text-decoration: none;
        color: $grey;
    }
}

.categoryButton, .categoryButtonSelected {
    button {
        margin-top: 1rem;
        margin-bottom: 0;
        margin-right: .5rem;
        list-style-type: none;
        font-weight: 100;
        border-left: 1px solid $grey;
        border-bottom: 0;
        border-right: 1px solid $grey;
        border-top: 1px solid $grey;
        background-color: $lightgrey;
        padding: 0.1rem 1rem;
        width: auto;
        max-width: 350px;
        min-width: 100px;
        display: inline-block;

        h3 {
            text-transform: uppercase;
            color: $grey;
        }
    }
}

.categoryButtonSelected {
    button {
        background-color: $blue;


        h3 {
            color: $white;
        }
    }
}

.sources {
    a {
        color: $blue;
    }
}

article {
    border-left: 1px solid $grey;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    border-top: 0.5rem solid $blue;
    padding: 2rem;

    h2 {
        text-transform: uppercase;
    }
}
