@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');

$mainfont: Arial, sans-serif;

$red: #870000;
$error: red;
$white: #FFFFFF;
$black: #000000;
$grey: #707070;
$lightgrey: #F0F0F0;
$maxwidth: 1200px;
$rootsize: 20px;

body {
    background-color: $black;
    color: $white;
    font-family: $mainfont;
    font-size: $rootsize;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.container {
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
    background-color: $white;
}

header {
    padding: 2rem;
    background-color: $red; 

    a {
        width: 100%;
        max-width: 250px;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
    }
}

.movie-card {
    border: 3px solid $grey;
    border-radius: 20px;
    padding: 5rem;
    margin: 1rem;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    text-align: center;

    img {
        width: auto;
        max-width: 350px;
        align-self: center;
        text-align: center;
    }
}

.searchresults {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.error-text{
    color: $error;
}