@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;700&display=swap');

$mainfont: Arial, sans-serif;
$headerfont: 'Archivo', sans-serif;

$red: #870000;
$error: red;
$white: #FFFFFF;
$black: #000000;
$dark: #242424;
$grey: #707070;
$lightgrey: #F0F0F0;
$maxwidth: 1200px;
$rootsize: 20px;

body {
    background-color: $dark;
    color: $white;
    font-family: $mainfont;
    font-size: $rootsize;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}

.container {
    width: 100%;
    max-width: $maxwidth;
    margin: 0 auto;
    background-color: $white;
}

header {
    padding: 2rem;
    background-color: $red;
    font-style: italic;
    font-weight: 800;
    //max-width: 500px;
    font-family: $headerfont;
    box-shadow: 0px 0px 10px $black;
    border: 1px outset $grey;
    border-radius: 0.5rem;
    margin: 0 4rem 2rem 4rem;
    text-align: center;

    h1 {
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;
        text-shadow: 2px 2px 2px black, 0 0 1em black;
        color: $white;
    }

    a {
        text-decoration: none;
    }
}

.movie-card {
    background-color: $black;
    border: 3px solid $grey;
    border-radius: 20px;
    padding: 5rem;
    margin: 1rem;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    text-align: center;
    box-shadow: 0px 0px 50px $black;

    img {
        width: auto;
        max-width: 350px;
        align-self: center;
        text-align: center;
    }
}

.searchresults {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.error-text{
    color: $error;
}

.searchbox{
    border-radius: 1rem;
    padding: 0.5rem;
}